In [1]:
#import dependencies
import pandas as pd
from pathlib import Path

In [2]:
#import csv files into dataframe
school_df = pd.read_csv('Resources/schools_complete.csv')
students_df = pd.read_csv('Resources/students_complete.csv')

In [3]:
#merge school dataframe with students dataframe
complete_df = pd.merge(school_df,students_df,how='left',on=['school_name','school_name'])
complete_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [4]:
#Total number of unique schools
num_schools = len(complete_df['school_name'].unique())
num_schools

15

In [5]:
#Total students
num_students = complete_df['student_name'].count()
num_students

39170

In [6]:
#Total budget
total_budget = school_df['budget'].sum()
total_budget

24649428

In [7]:
#Average math score
average_math_score = complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [8]:
#Average reading score
average_reading_score = complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [9]:
#% passing math (the percentage of students who passed math)(passing score is 70 or higher)
num_passing_math = complete_df[complete_df['math_score'] >= 70].count()['student_name']
num_passing_math_percent = (num_passing_math/num_students)*100
num_passing_math_percent

74.9808526933878

In [10]:
#% passing reading (the percentage of students who passed reading)(passing score is 70 or higher)
num_passing_reading = complete_df[complete_df['reading_score'] >= 70].count()['student_name']
num_passing_reading_percent = (num_passing_reading/num_students)*100
num_passing_reading_percent

85.80546336482001

In [11]:
#% overall passing (the percentage of students who passed math AND reading)
pass_both = complete_df[(complete_df['math_score'] >=70) & (complete_df['reading_score'] >=70)].count()['student_name']
pass_both_percent = pass_both/num_students*100
pass_both_percent

65.17232575950983

In [12]:
#create a dataframe with the results
district_results =[{
                    'Total Schools': num_schools,
                    'Total Students': num_students,
                    'Total Budget': total_budget,
                    'Average Math Score': average_math_score,
                    'Average Reading Score': average_reading_score,
                    '% Passing Math': num_passing_math_percent,
                    '% Passing Reading': num_passing_reading_percent,
                    '% Overall Passing': pass_both_percent
                     }]

district_results_df = pd.DataFrame(district_results)

In [13]:
#display the formatted results in a dataframe
district_results_df["Total Students"] = district_results_df["Total Students"].map("{:,}".format)
district_results_df["Total Budget"] = district_results_df["Total Budget"].map("${:,.2f}".format)
district_results_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [58]:
#create a list of all the school names
school_list = complete_df['school_name'].unique().tolist()
school_list

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [26]:
# Use the code provided to select all of the school types
school_types = complete_df.set_index(["school_name"])["type"]
school_types.unique()

array(['District', 'Charter'], dtype=object)

In [70]:
#total students per school
students_per_school = complete_df.groupby(["school_name"])["student_name"]
students_per_school_df = pd.DataFrame(students_per_school.count())
students_per_school_df

                       student_name
school_name
Bailey High School             4976
Cabrera High School            1858
Figueroa High School           2949
Ford High School               2739
Griffin High School            1468
Hernandez High School          4635
Holden High School              427
Huang High School              2917
Johnson High School            4761
Pena High School                962
Rodriguez High School          3999
Shelton High School            1761
Thomas High School             1635
Wilson High School             2283
Wright High School             1800

In [72]:
#total budget per school
budget_per_school = complete_df.groupby(["school_name"])["budget"]
budget_per_school_df = pd.DataFrame(budget_per_school.unique())

                          budget
school_name
Bailey High School     [3124928]
Cabrera High School    [1081356]
Figueroa High School   [1884411]
Ford High School       [1763916]
Griffin High School     [917500]
Hernandez High School  [3022020]
Holden High School      [248087]
Huang High School      [1910635]
Johnson High School    [3094650]
Pena High School        [585858]
Rodriguez High School  [2547363]
Shelton High School    [1056600]
Thomas High School     [1043130]
Wilson High School     [1319574]
Wright High School     [1049400]

In [80]:
#per capita budget for each school
merged_df = pd.merge(students_per_school_df,budget_per_school_df,how='outer',on="school_name")
merged_df['per capita'] = merged_df['budget']/merged_df['student_name']

per_capita = merged_df['per capita']
per_capita

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
Name: per capita, dtype: object

In [81]:
#average math score per school
avg_mathscore_school = complete_df.groupby(["school_name"])['math_score']
avg_mathscore_school.mean()

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [82]:
#average reading score per school
avg_readingscore_school = complete_df.groupby(["school_name"])['reading_score']
avg_readingscore_school.mean()

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [101]:
#% passing math (the percentage of students who passed math)
pass_math_school = complete_df[complete_df["math_score"] >=70]
pass_math_school_df= pd.DataFrame(pass_math_school)
pass_math_school_df['school_name'].value_counts()

school_name
Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
Name: count, dtype: int64

In [102]:
#% passing reading (the percentage of students who passed reading)
pass_reading_school = complete_df[complete_df["reading_score"] >=70]
pass_reading_school_df= pd.DataFrame(pass_reading_school)
pass_reading_school_df['school_name'].value_counts()

school_name
Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Huang High School        2372
Wilson High School       2204
Ford High School         2172
Cabrera High School      1803
Wright High School       1739
Shelton High School      1688
Thomas High School       1591
Griffin High School      1426
Pena High School          923
Holden High School        411
Name: count, dtype: int64

In [15]:






% overall passing (the percentage of students who passed math AND reading)

SyntaxError: invalid syntax (545884981.py, line 1)